.careers-detail-page {
    @include pt();
    &__content {
        padding-bottom: 129px;

        @media (max-width: $md2+px) {
            padding-bottom: 100px;
        }
    
        @media (max-width: $md3+px) {
            padding-bottom: 0
        }

        & .title {
            margin-bottom: 98px;

            @media (max-width: $md2+px) {
                margin-bottom: 40px;
            }
        }

        & .link-back {
            margin-bottom: 60px;

            @media (max-width: $md2+px) {
                margin-bottom: 20px;
            }
        }
    }

    &__body {
        display: flex;

        @media (max-width: $md2+px) {
            display: block;
        }
    }

    &__column-1 {
        flex: 1 1 auto;
        margin-right: 78px;

        @media (max-width: 1267px) {
            margin-right: 30px;
        }

        @media (max-width: $md2+px) {
            margin-right: 0;
            margin-bottom: 60px;
        }

        &.text-content {
            font-size: 24px;
            line-height: 1.7em;

            @media (max-width: 1267px) {
                font-size: 20px;
            }

            @media (max-width: $md3+px) {
                font-size: 18px;
            }
            @media (max-width: $md4+px) {
                font-size: 16px;
            }
        }
    }

    &__column-2 {
        flex: 0 0 405px;
    }
}







.other-vacancies {

    &__title {
        margin-bottom: 33px;
        padding-left: 27px;
    }

    &__list {
        padding-left: 27px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 3px;
            background-color: #e5e5e5;
            height: 100%;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 100px;
        padding: 15px 0;
        color: #000000;
        font-family: $regular;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4em;
        text-decoration: none;
        transition: all .1s ease;

        @media (min-width: 992px) {
            &:hover {
                font-weight: 600;
            }
        }

        @media (max-width: $md3+px) {
            font-size: 20px;
            min-height: 80px;
        }
        @media (max-width: $md4+px) {
            font-size: 18px;
            min-height: 60px;
        }

        &._active {
            font-family: $semiBold;
            font-weight: 600;

            &:before {
                height: 100%;
            }
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: -29px;
            width: 6px;
            background-color: $decorColor;
            height: 0%;
            transition: all .3s ease;
        }
    }
}
