.header {
    &._background {
        background-color: #fff;
        box-shadow: 0 0 30px 0 rgba(0,0,0, 0.2);
    
        & .logo__image_active {
            opacity: 1;
        }

        & .logo__image_static {
            opacity: 0;
        }

        & .header__lang {
            color: #000;
        }

        & .burger span {
            background-color: #000;
        }

        & .header__links {
            & .icon {
                fill: #000;
            }
        }
    }

    &._colorIcon {
        & .logo__image_active {
            opacity: 1;
        }

        & .logo__image_static {
            opacity: 0;
        }

        & .header__lang {
            color: #000;
        }

        & .burger span {
            background-color: #000;
        }

        & .header__links {
            & .icon {
                fill: #000;
            }
        }
    }
}