.pagging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px;

    @media (max-width: $md4+px) {
        flex-wrap: wrap;
    }

    &__arrow {
        display: inline-flex;
        min-width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        border-radius: 4px;
        transition: all .3s ease;

        @media (max-width: $md4+px) {
            margin: 0 20px;
        }

        & .icon {
            font-size: 22px;
            fill: #000;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: $decorColor;

                & .icon {
                    fill: #fff;
                }
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 22px;
        color: #000;
        font-family: $semiBold;
        margin: 0 40px;

        @media (max-width: $md4+px) {
            order: -1;
            flex: 0 0 100%;
            justify-content: center;
            margin-bottom: 10px;
        }

        & > li {
            margin: 0 6px;
        }
    }

    &__item {
        text-decoration: none;
        color: #000;
        display: inline-flex;
        min-width: 40px;
        height: 40px;
        padding: 0 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        border-radius: 4px;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                background-color: $decorColor;
                color: #fff;
            }
        }

        &._active {
            background-color: $decorColor;
            color: #fff;
        }
    }
}
